<table class="am-table am-table-striped am-table-hover table-main">
    <thead>
        <tr>
            <th class="table-check"><input type="checkbox" /></th>
            <th class="table-title"
                *ngFor="let item of column"
                [style.width]="item.width?item.width+'px':'auto'">{{item.title}}</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let row of pagebar.curDatas; let rowIndex = index">
            <td><input type="checkbox" /></td>
            <td *ngFor="let col of column; let colIndex = index" >
                <template [ngIf]="col.template">
                    <template [ngTemplateOutlet]="col.template" [ngOutletContext]="{ $implicit: {col:col, row:row, colIndex:colIndex, rowIndex:rowIndex} }"></template>
                </template>
                <template [ngIf]="!col.template">
                    <template [ngIf]="!!col.formatter">
                        {{col.formatter(row[col.name], col, row)}}
                    </template>
                    <template [ngIf]="!col.formatter">
                        {{row[col.name]}}
                    </template>
                </template>
            </td>
        </tr>
    </tbody>
</table>
<pagebar #pagebar [datas]="datas" [pageSize]="pageSize"></pagebar>