<div class="admin-content-body">
    <div class="am-cf am-padding am-padding-bottom-0">
        <div class="am-fl am-cf">
            <strong class="am-text-primary am-text-lg">相册</strong> / <small>Gallery</small>
        </div>
    </div>

    <hr>

    <ul class="am-avg-sm-2 am-avg-md-4 am-avg-lg-6 am-margin gallery-list">
        <li>
            <a href="#">
                <img class="am-img-thumbnail am-img-bdrs" src="http://s.amazeui.org/media/i/demos/bing-1.jpg" alt="" />
                <div class="gallery-title">远方 有一个地方 那里种有我们的梦想</div>
                <div class="gallery-desc">2375-09-26</div>
            </a>
        </li>
        <li>
            <a href="#">
                <img class="am-img-thumbnail am-img-bdrs" src="http://s.amazeui.org/media/i/demos/bing-2.jpg" alt="" />
                <div class="gallery-title">君可见漫天落霞</div>
                <div class="gallery-desc">2375-09-26</div>
            </a>
        </li>
        <li>
            <a href="#">
                <img class="am-img-thumbnail am-img-bdrs" src="http://s.amazeui.org/media/i/demos/bing-3.jpg" alt="" />
                <div class="gallery-title">此刻鲜花满天幸福在身边</div>
                <div class="gallery-desc">2375-09-26</div>
            </a>
        </li>
        <li>
            <a href="#">
                <img class="am-img-thumbnail am-img-bdrs" src="http://s.amazeui.org/media/i/demos/bing-4.jpg" alt="" />
                <div class="gallery-title">你当我是浮夸吧</div>
                <div class="gallery-desc">2375-09-26</div>
            </a>
        </li>
        <li>
            <a href="#">
                <img class="am-img-thumbnail am-img-bdrs" src="http://s.amazeui.org/media/i/demos/bing-4.jpg" alt="" />
                <div class="gallery-title">远方 有一个地方 那里种有我们的梦想</div>
                <div class="gallery-desc">2375-09-26</div>
            </a>
        </li>
        <li>
            <a href="#">
                <img class="am-img-thumbnail am-img-bdrs" src="http://s.amazeui.org/media/i/demos/bing-1.jpg" alt="" />
                <div class="gallery-title">斜阳染幽草 几度飞红</div>
                <div class="gallery-desc">2375-09-26</div>
            </a>
        </li>
        <li>
            <a href="#">
                <img class="am-img-thumbnail am-img-bdrs" src="http://s.amazeui.org/media/i/demos/bing-1.jpg" alt="" />
                <div class="gallery-title">远方 有一个地方 那里种有我们的梦想</div>
                <div class="gallery-desc">2375-09-26</div>
            </a>
        </li>
        <li>
            <a href="#">
                <img class="am-img-thumbnail am-img-bdrs" src="http://s.amazeui.org/media/i/demos/bing-3.jpg" alt="" />
                <div class="gallery-title">你当我是浮夸吧</div>
                <div class="gallery-desc">2375-09-26</div>
            </a>
        </li>
        <li>
            <a href="#">
                <img class="am-img-thumbnail am-img-bdrs" src="http://s.amazeui.org/media/i/demos/bing-3.jpg" alt="" />
                <div class="gallery-title">远方 有一个地方 那里种有我们的梦想</div>
                <div class="gallery-desc">2375-09-26</div>
            </a>
        </li>
        <li>
            <a href="#">
                <img class="am-img-thumbnail am-img-bdrs" src="http://s.amazeui.org/media/i/demos/bing-2.jpg" alt="" />
                <div class="gallery-title">君可见漫天落霞</div>
                <div class="gallery-desc">2375-09-26</div>
            </a>
        </li>
        <li>
            <a href="#">
                <img class="am-img-thumbnail am-img-bdrs" src="http://s.amazeui.org/media/i/demos/bing-3.jpg" alt="" />
                <div class="gallery-title">你当我是浮夸吧</div>
                <div class="gallery-desc">2375-09-26</div>
            </a>
        </li>
        <li>
            <a href="#">
                <img class="am-img-thumbnail am-img-bdrs" src="http://s.amazeui.org/media/i/demos/bing-2.jpg" alt="" />
                <div class="gallery-title">君可见漫天落霞</div>
                <div class="gallery-desc">2375-09-26</div>
            </a>
        </li>
        <li>
            <a href="#">
                <img class="am-img-thumbnail am-img-bdrs" src="http://s.amazeui.org/media/i/demos/bing-1.jpg" alt="" />
                <div class="gallery-title">斜阳染幽草 几度飞红</div>
                <div class="gallery-desc">2375-09-26</div>
            </a>
        </li>
    </ul>

    <div class="am-margin am-cf">
        <hr/>
        <p class="am-fl">共 15 条记录</p>
        <ol class="am-pagination am-fr">
            <li class="am-disabled"><a href="#">&laquo;</a></li>
            <li class="am-active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">&raquo;</a></li>
        </ol>
    </div>
</div>